<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <title>My Website</title>
</head>
<body onload="onLoadHandler()">
<%- include('./template/header.ejs'); %>
<%
/**
 * @type {Predmet}
 */
const existingPredmet = predmet;
/**
 * @type {number}
 */
const countPredmets = count;
/**
 * @type {number | 'new'}
 */
const predmetKey = key;

%>
<script>

    let currentPage = <%- predmetKey!=='new'?predmetKey: 0%>;

    function onLoadHandler() {
        fillFormWithExistingPredmet();
        initHandlers();
    }
    function initHandlers() {

        document.querySelector("form").addEventListener("submit", event => {
            event.preventDefault();
            const formData = new FormData(event.target);


            const formElem = event.target;
            let isFormValid = true;

            // check if all fields are filled in
            for (let input of formElem) {
                if (input.type !== "submit" &&input.type !== "button" && input.name !== "id" && !input.value) {
                    isFormValid = false;
                    input.classList.add("invalid");
                } else {
                    input.classList.remove("invalid");
                }
            }
            if (isFormValid) {
                let object = {};
                formData.forEach((value, key) => {
                    if (!Reflect.has(object, key)) {
                        object[key] = value;
                        return;
                    }
                    if (!Array.isArray(object[key])) {
                        object[key] = [object[key]];
                    }
                    object[key].push(value);
                });

                var existingPredmet = <%- JSON.stringify(predmet) %>;
                if  (!!existingPredmet && !!existingPredmet.id) {
                    object.id = existingPredmet.id;
                }

                object.Is_ochnay = !!object.Is_ochnay? 1: 0;
                let json = JSON.stringify(object);


                fetch("/predmets", {
                    method: "POST",
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: json
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error(response.statusText);
                        }
                        return response.text();
                    })
                    .then(data => {
                        // Handle the success response
                    })
                    .catch(error => {
                        // Handle the error response
                    });
            }
        });
        document.getElementById("remove-btn").addEventListener("click", () => {
            fetch(`/predmets/<%-predmet?.id%>`, {
                method: "DELETE"
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error(response.statusText);
                    }
                    // reset form fields
                    // update selected predmet id
                    location.reload();
                })
                .catch(error => {
                    console.error(error);
                });
        });
    }

    function fillFormWithExistingPredmet() {
        var existingPredmet = <%- JSON.stringify(predmet) %>;
        if (!existingPredmet) {
            document.getElementById("remove-btn").disabled = true;
            return;
        }
        document.getElementById("id").value = existingPredmet.id;
        document.getElementById("Description").value = existingPredmet.Description;
        document.getElementById("Name").value = existingPredmet.Name;

    }


</script>
<main>

    <%- include('./template/navigation.ejs', {total: countPredmets, title: "Предметы", id: predmetKey, link: "predmets"}); %>

<!--    -->
    <form>
        <label for="id">Id:</label>
        <input type="number" id="id" name="id" disabled>

        <label for="Name">Name:</label>
        <input type="text" id="Name" name="Name" required>

        <label for="Description">Description:</label>
        <input type="text" id="Description" name="Description" required>


        <input type="submit" id="submit-btn" value="<%-predmetKey!=='new' ? 'Сохранить':'Создать' %>">
        <button type="button" id="remove-btn">Remove</button>
    </form>
</main>

<footer>
    <p>Copyright ©2023 Zakirov</p>
</footer>
</body>
</html>
